# chatwoot-arm64 .env example
# Frizzieri <https://github.com/FRizzieri/chatwoot-arm64>
#
# Modify the values as you want and rename this file to .env in same docker-compose.yml folder
#
# Learn about the various environment variables at
# https://www.chatwoot.com/docs/self-hosted/configuration/environment-variables/#rails-production-variables

INSTALLATION_NAME="Chatwoot localhost"
SECRET_KEY_BASE=replace_with_lengthy_secure_hex
FRONTEND_URL=http://0.0.0.0:3000
DEFAULT_LOCALE=en
FORCE_SSL=true
ENABLE_ACCOUNT_SIGNUP=false
REDIS_URL=redis://chatwoot-redis:6379
POSTGRES_HOST=chatwoot-postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=replace_with_your_safe_password
POSTGRES_DATABASE=chatwoot-production